@media (prefers-color-scheme: dark) {
    body { 
        background: black; 
        color: white;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 15rem;

}
.footer > a {
    border: 1px solid #58a6ff;
    padding: 0.25rem;
}

h2 {
    margin-top: 3rem;
}